.form {
  margin-top: 40px;
}
.serchButton {
  padding: 5px;
  border: none;
  background-color: #4f5679;
  color: #fff;

  font-size: 20px;
  border-radius: 5px;
  width: 100px;
  margin-right: 40px;
  margin-left: 20px;
}
.input {
  width: 330px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-size: 20px;
  border: 2px solid #eee;
  transition: 0.3s border-color;
}
